/**
* custom.css - rbooks
* @kobebigs
**/

.header{
    padding: 6rem 0 6rem;
    text-align: center; }
.button-red{
    color: #FFF;
    background-color: #FF1B42;
    border-color: #FF1B42;
    outline: 0;}
.navbar{
    display: none; }

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .header{
        padding: 10rem 0 10rem; }
}

/* Larger than tablet */
@media (min-width: 750px) {}
